body{
    background-color: rgb(228, 209, 37);
    border: 2px solid white;
   
}

h1{
    color: rgb(17, 17, 14);
    font-size: 50px;
}

.container{
    background-color: rgba(29, 24, 24, 0.979);
    padding: 0.5%;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
    border: 5px solid yellow;
    border-radius: 20px;
}

input{
    width: 50%;
    border-radius: 0.30em;
    padding: 15px;
    text-align: center;
    border: 5px solid rgb(224, 235, 69);
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

nav{
    background-color:rgb(179, 160, 160);
    color:rgb(74, 173, 28);
    padding: 1px;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

footer{
    color: rgb(243, 227, 227);
    padding: 30px;
    display: flex;
    justify-content: center;
}

footer ul{
    list-style: none;
}

footer li{
    margin: 8px;
}

.col{
    text-align: center;    

}

.titulo {
    font-size:50px;
    color: black;
}
label {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}

#papel {
    background: whitesmoke;
    width: 200px;
}

select {
    width: 400px;
    height: 40px;
    font-size: 20px;
    border: 2px solid yellow;
    border-radius: 10px;
    text-align: center;
    background-color:rgb(240, 240, 240);
    
}

button {
    height: 50px;
    width: 350px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(224, 235, 69);
    font-size: 18px;
}